[submodule "libraries/colt-cpp"]
	path = libraries/colt-cpp
	url = https://github.com/R533-Code/colt-cpp.git
[submodule "libraries/libffi"]
	path = libraries/libffi
	url = https://github.com/R533-Code/libffi
[submodule "libraries/lua-cmake"]
	path = libraries/lua-cmake
	url = https://gitlab.com/codelibre/lua/lua-cmake
[submodule "libraries/tracy"]
	path = libraries/tracy
	url = https://github.com/wolfpld/tracy.git
